body {
  margin: 0;
  padding: 24px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App-header {
  min-height: auto !important;
}

.board {
  background: #141414;
  width: fit-content;
  padding: 8px;
  margin-bottom: 24px;
  border-radius: 16px;
}

.status {
  font-size: 24px;
  font-weight: bold;
}

.row {
  display: flex;
}

.tile {
  background: #ffffffb8;
  border: 2px solid #ffffff29;
  border-radius: 8px;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 80px;
  height: 80px;
  padding: 0;
  text-align: center;
  width: 80px;
  margin: 4px;
}

.tile:hover {
  background: #ffffffe0;
}

button {
  padding: 8px;
  display: block;
  border-radius: 8px;
  /* border-color: #ffffff; */
  width: 280px;
  padding: 8px;
  font-size: 1.2em;
}

body, button {
  font-family: "Lucida console", sans-serif;
}
